/*top navigation bar*/
#topbar-container{
    width:100%;
    background-color: #466e87; 
}

#topbar-menu{
    height: 70px;
    border: 1px #CCCCCC solid;
    margin: 0 auto;
}

#topbar-menu a{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFF7;
    padding: 0 20px;
    position:relative;
    top: 30px;
    text-decoration: none;
    float: right;
}

#topbar-menu a:hover{
    text-decoration: underline;
}

/*name and picture*/

#name-pic-container{
    width: 300px;
    margin: 20px;
    padding-left: 40px;
}

#img-myself{
    width: 200px;
    border-radius: 70%;
    padding: 25px;

}

#my-name{
    font-size: 32px;
    font-family: 'Yeseva One', sans-serif;
    text-align: center; 
}
